* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
    padding: .5rem 1rem;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header ul li {
    list-style: none;
    padding: .5rem 0;
}
header ul li a {
    text-decoration: none;
    color: white;
    /* text-transform: uppercase; */
    font-size: 1.2rem;
    padding: .5rem 1rem;
    letter-spacing: 1px;

    transition: all .3s ease-in-out;
}
header ul li a:hover {
    text-shadow: 0px 0px 10px white;
}

.about-page {
    margin: 2rem;
    padding: 1rem;
    /* height: 400px; */
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* font-size: 2rem; */
}
.home-page {
    margin: 2rem;
    padding: 1rem;
    /* height: 400px; */
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);

    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.home-page .right img {
    /* height: ; */
    width: 100%;
    filter: drop-shadow(0px 0px 10px white);
}
.home-page .left h1 {
    padding-bottom: 1rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* color: white; */
    letter-spacing: 1px;
    margin-bottom: .3rem;
}

input, textarea {
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 10px;
}
input:focus {
    outline: 1px solid brown;
}

button {
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;

    transition: all .3s ease-out;
}
button:hover {
    background-color: brown;
    box-shadow: 0px 0px 10px brown;
    color: white;
}